if [ "${IS_SUBALBUM}" = yes ]; then
  GOTO_OVERVIEW="<br /><br /><a href='${BACKHREF}/index.html'>Go to Album overview</a>"
fi
cat <<END
<html>
<head>
<title>${TITLE}</title>
<style type="text/css">
  body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: verdana, sans-serif;
  }
  a {
    color: #FFFFFF;
  }
  hr {
    color: #FFFFFF;
    background-color: #FFFFFF;
    height: 1px;
  }
</style>
</head>
<body>
${TITLE} ${GOTO_OVERVIEW}
<hr />
END
