cat <<END
<a href="${num}-$((i-1)).html">&lt;&lt;&lt;</a>
<a href="page-${num}.html#$photo">Thumbnails</a>
<a href="${num}-$((i+1)).html">&gt;&gt;&gt;</a>
<br />
<br />
<a href="${num}-$((i+1)).html"><img border='0' src='../photos/$photo' /></a>
<br />
<br />
<a href="../photos/$photo">Direct link</a>
<h3>$photo</h3>
END
