Source: photoalbum
Section: utils
Priority: optional
Maintainer: Paul Buetow <paul@buetow.org>
Build-Depends: perl, make
Standards-Version: 3.9.2
Homepage: http://photoalbum.buetow.org
Vcs-Git: https://github.com/rantanplan//photoalbum.git
Vcs-Browser: https://github.com/rantanplan/photoalbum

Package: photoalbum
Architecture: all
Depends: ${shlibs:Depends}
Description: A tiny Bash script to build a static photo album.
 Simple. 
