cat <<END
<html>
<head>
<title>$TITLE</title>
<style type="text/css">
	body {
		background-color: #000000;
		color: #FFFFFF;
		font-family: verdana, sans-serif;
	}
	a {
		color: #FFFFFF;
	}
	hr {
		color: #FFFFFF;
		background-color: #FFFFFF;
		height: 1px;
	}
</style>
</head>
<body>
END
